<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>List表单</h1>
    <form action="listString" method="get">
        <p>姓名：<input type="text" name="list"/></p>
        <p>密码：<input type="text" name="list"/></p>
        <p>年龄：<input type="text" name="list"/></p>
        <p>工作：<input type="text" name="list"/></p>
        <p><input type="submit" /></p>
    </form>
    <h1>Map表单</h1>
    <form action="map" method="get">
        <p>姓名：<input type="text" name="name"/></p>
        <p>密码：<input type="text" name="pwd"/></p>
        <p>年龄：<input type="text" name="age"/></p>
        <p>工作：<input type="text" name="job"/></p>
        <p>性别：<input type="text" name="sex"/></p>
        <p><input type="submit" /></p>
    </form>

    <h1>图片</h1>
    <p><a href="index?path=add_ad.gif">add_ad.gif</a></p>
    <p><a href="index?path=login.jpg">login.jpg</a></p>

</body>
</html>